################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/server/server_visual_studio_project
